<cfsilent>
	<cfset guidTaxId = event.getArg("guidTaxId") />
	<cfquery name="updateNavigation" datasource="AllProductAssets">
		UPDATE cms_navigation
		SET
			isActive = '0'
		WHERE	guidTaxId = <cfqueryparam value="#guidTaxId#" CFSQLType="cf_sql_idstamp" />
	</cfquery>
</cfsilent>
<cfoutput><a href="##" onClick="activate('#guidTaxId#')">no</a></cfoutput>