<cfsilent>
	<cfset blocks = event.getArg("blocks") />
</cfsilent>
<cfoutput>
<a href="#BuildUrl('admin.showBlockForm')#">Create New Block</a>
<table width="100%" border="1">
	<tr>
		<th>Edit</th>
		<th>Name</th>
		<th>Title</th>
		<th>Delete</th>
	</tr>
<cfloop from="1" to="#ArrayLen(blocks)#" index="i">
	<tr>
		<td><a href="#BuildUrl('admin.showBlockForm','bid=#blocks[i].getBlock_id()#')#">Edit</a></td>
		<td>#blocks[i].getName()#</td>
		<td>#blocks[i].getTitle()#</td>
		<td>Delete</td>
	</tr>
</cfloop>
</table>
</cfoutput>