<cfsilent>
	<cfset indexStatus = event.getArg("indexStatus") />
</cfsilent>
<cfoutput>
	#application.udf.getServerIp()#
	Search no longer needs to be indexed.  Uses the database instead of Verity.
</cfoutput>