  <cfset srcDirectory = ExpandPath('/assets/stem/flvs/') />

  <cfdirectory action="list" directory="#srcDirectory#" name="qFiles" />

  <cfdump var="#qFiles#"/>


   <cfset srcDirectory = ExpandPath('/assets/stem/thumbnails/') />

  <cfdirectory action="list" directory="#srcDirectory#" name="qFiles" />

  <cfdump var="#qFiles#"/>

<cfquery name="qryCheckEncodings" datasource="Sponsorships">
      select * from cms_encodings where dtCreated > '05-01-2013'
</cfquery>




<cfdump var="#qryCheckEncodings#" />