<cfparam name="url.path" default="sponsorships.redactededucation.net" />

<cfset dstDirectory = ExpandPath('/assets/stem/flvs/') />

<cfset s3 = createObject("component", "amazons3").init(
  "AKIAJ63KX67L7CDJL6EA",
  "MF3y0Jxe/ZGr64Ezbj7UN0uAfpIVohO/Au+liNTt"
) />

<cfset qGetFiles = s3.listObjects(url.path) />

<!---
<cfoutput>#qGetFiles.recordcount#</cfoutput>

<cfdump var="#qGetFiles#"/>
--->
<cfif qGetFiles.recordcount GTE 2>
  
<cfloop query="qGetFiles">

<cfset guid = ListFirst(name,".") />

<cfif IsValid("guid",guid)>
 
  <cfset objKey = name />
  <cfset bucket = "sponsorships.redactededucation.net" />
  <cfset fileMoved =  dstDirectory & name />
  
    <cfif NOT FileExists(fileMoved)>    
     <!---
        <cfoutput>
          #objKey#
          <br/>
          #bucket#
          <br/>
          #dstDirectory#
        </cfoutput>    
      --->  
        <cfset qGet = s3.getFileFromS3(bucket,objKey) />
 

  
        <cffile 
        action = "move" 
        source = "#qGet#" 
        destination = "#fileMoved#">

        <cfquery name="qryUpdate" datasource="Sponsorships">
              UPDATE cms_encodings
              SET result = <cfqueryparam value="Completed" CFSQLType="cf_sql_longvarchar" />
              WHERE fileGuid = <cfqueryparam value="#guid#" cfsqltype="cf_sql_idstamp"/>
        </cfquery>
        
    </cfif>       

        <cfset qDel = s3.deleteS3File(bucket,objKey) />
    
 
 </cfif>
</cfloop>

</cfif>
