<cfsilent>
	<cfset q = event.getArg("q") />
</cfsilent>
<cfoutput>
<div>
<form action="" method="get" name="test">
	<input type="hidden" name="event" value="debug" />
Search:
<input type="text" name="q" value="#q#" />
<br />
<input type="submit" value="Submit" />
</form>
</div>
</cfoutput>