<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Untitled Document</title>
	</head>
	<body>
		<h3>FELLOW LIST</h3>
		

		<UL>
		<ul>
			<li>
				Tony Alteparmakian,Bakersfield, CA 
				<br />
				Foothill High School 
			</li>
			<li>David Auerbach, Canaan, NH 
				<br />
				Cardigan Mountain School</li>
			<li>Kelly Boehmer Randolph, NJ 
				<br />
				Randolph Middle School</li>
			<li>
				Kathleen Brown,Bradenton, FL 
				<br />
				Braden River Middle School 
			</li>
			<li>
				Walter Burrough,Del Valle, TX 
				<br />
				Del Valle Opportunity Center 
			</li>
			<li>
				Aileen Canos, Yigo, Guam 
				<br />
				FB Leon Guerrero Middle School 
			</li>
			<li>
				Lisa Cover, Bronx, NY 
				<br />
				Morris Academy for Collaborative Studies 
			</li>
			<li>
				Joel Evans,Horsham, PA 
				<br />
				Hatboro-Horsham Sr. High School 
			</li>
			<li>Mike Fellows,N. Lakewood, WA 
				<br />
				Lakewood High School</li>
			<li>Bryan Field, Jaffrey, NH 
				<br />
				Conant High School</li>
			<li>
				Alfonso Garcia Arriola, Portland, OR 
				<br />
				ACCESS Academy 
			</li>
			<li>Lauree Gott,Veazie, ME 
				<br />
				Veazie Community School</li>
			<li>Kris Groff,Sheldon, IA 
				<br />
				Sheldon High School</li>
			<li>
				Michelle Hankey,Naples, FL 
				<br />
				Palmetto Ridge High School 
			</li>
			<li>
				Maya Heissenbuttel,Spokane, WA 
				<br />
				North Pines Middle School 
			</li>
			<li>
				Ed Hernandez,Tustin, CA 
				<BR />
				Tustin High School 
			<li>
				Krystal Irby,Albuquerque, NM 
				<BR />
				McKinley Middle School 
			</li>
			<li>
				Kendria Johnson,Dallas, TX 
				<br />
				Zan Wesley Holmes Jr. Middle School 
			</li>
			<li>David Kujawski,East Walpole, MA Bird Middle School</li>
			<li>
				Ann LaBrode,Hopedale, MA 
				<br>
				Hopedale Jr. Sr. High School 
			</li>
			<li>
				Christopher Lazartic,Greenwood Village, CO 
				<br>
				Aspen Academy 
			</li>
			<li>
				Kathy Lin,Pearl City, HI 
				<br>
				Highlands Intermediate School 
			</li>
			<li>
				Carol Malicki,Orange Park, FL 
				<br>
				Fleming Island High School 
			</li>
			<li>
				Carol Malicki,Orange Park, FL 
				<br>
				Fleming Island High School 
			</li>
			<li>Jill Marconi,Poland, OH 
				<br>
				Poland Middle School</li>
			<li>
				Donald Mason,Meriden, CT 
				<br>
				H.C. Wilcox Regional Vocational Technical School 
			</li>
			<li>
				MaryAnn Moore,Bountiful, UT 
				<br>
				South Davis Junior High School 
			</li>
			<li>
				Christine O’Brien, Olmsted Falls, OH 
				<br>
				Olmsted Falls Middle School 
			</li>
			<li>
				Marianna O’Brien, Santa Monica, CA 
				<br>
				Lincoln Middle School 
			</li>
			<li>
				Azucena Overman, Round Rock, TX 
				<br>
				Cedar Ridge High School 
			</li>
			<li>
				Doug Panee, Lindon, UT 
				<br>
				Oak Canyon Junior High School 
			</li>
			<li>
				Azat Penjiyev, Tucson, AZ 
				<br>
				Sonoran Science Academy - Davis-Monthan 
			</li>
			<li>
				Lorraine Perez, Russellville, AL 
				<br>
				Russellville High School 
			</li>
			<li>
				Craig Polakoff, Willow Grove, PA 
				<br>
				Upper Moreland High School 
			</li>
			<li>Lisa Reece, Warwick, NY 
				<br>
				Warwick Valley High School</li>
			<li>
				Beth Ring, Litchfield, MN 
				<br>
				Litchfield Senior High School 
			</li>
			<li>Laura Saxe-OBrien,Lebanon, OR 
				<br>
				Lebanon High School</li>
			<li>
				Stacie Shaner, Greencastle, PA 
				<br>
				Greencastle-Antrim Middle School 
			</li>
			<li>
				Tom Shrilla ,Columbus, OH 
				<br>
				Woodward Park Middle School 
			</li>
			<li>
				Pamela South, Westover, MD 
				<br>
				Somerset Intermediate School 
			</li>
			<li>Sarah Spaunhorst,St. Louis, MO 
				<br>
				Visitation Academy</li>
			<li>
				Barbara Steel,Park Hills, MO 
				<br>
				West County High School 
			</li>
			<li>
				Bill Steinbach, Highland Park, IL 
				<br>
				Northwood Junior High School 
			</li>
			<li>
				Melissa Stolz, Florence, KY 
				<br>
				Rector A. Jones Middle School 
			</li>
			<li>Maurice Telesford, Ferndale, MI 
				<br>
				Ferndale High School</li>
			<li>Gail Vawter, Fort Mill, SC 
				<br>
				Springfield Middle School</li>
			<li>
				Darrell Walker, Elizabeth City, NC 
				<br>
				Elizabeth City Middle School 
			</li>
			<li>
				Darren Wells, Roxbury, MA 
				<br>
				James Timilty Middle School 
			</li>
			<li>Laura Wommack, Potlatch, ID 
				<br>
				Potlatch High School</li>
			<li>Kellylyn Wood, Amboy, IL 
				<br>
				Amboy Junior High School</li>
			<li>
				Valerie Ziglejeva, Newark, MD 
				<br>
				Worcester Technical High School 
			</li>
		</UL>
		&nbsp;&nbsp;&nbsp;&nbsp; 
	</body>
</html>
