<cfsilent>
	<cfset event.setArg("pageTitle", "#request.siteName# Admin - Login") />
</cfsilent>
<cfoutput>
<form action="#BuildUrl('processLoginForm')#" method="POST">
    <table width="750" cellpadding="3" cellspacing="1" border="0" align="center">
        <tr>
            <td colspan="3" style="font-family:sans-serif;font-size:12;color:red" align="center">#event.getArg("message")#</td>
        </tr>
        <tr>
            <td width="300" style="font-family:sans-serif;font-size:12;color:##66ccdd" align="right">username:</td>	
            <td><input type="text" name="username" size="20" value=""></td>
            <td width="200">&nbsp;</td>	
        </tr>
        <tr>
            <td width="300" style="font-family:sans-serif;font-size:12;color:##66ccdd" align="right">password:</td>	
            <td><input type="password" name="password" size="20" value=""></td>
            <td width="200">&nbsp;</td>	
        </tr>
        <tr>
            <td width="300">&nbsp;</td>	
            <td><input name="btnLogin" type="submit" id="btnLogin" value="login" /></td>
            <td width="200">&nbsp;</td>	
        </tr>
    </table>
</form>
</cfoutput>