<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3> STEM INSTITUTE</h3>



<p>Dates:August 4-9,2013  </p>
<p>The 2013 Siemens STEM Institute Fellows have been selected! Click here to see the Fellows and learn more about the Institute that will take place August 4-9, 2013 outside Washington D.C. </p>
<h5> &nbsp; 2013 SIEMENS STEM INSTITUTE FELLOWS
            
      &nbsp;</h5>
<img src="../img/learn_institute.PNG" />
			<UL>
<ul>
				<li>
					Scott Campbell,Machesney Park, IL &nbsp;  <br />
					Harlem High School
				
 </li>
				<li>
					Beth Campbell,Raleigh, NC <br />
  Mount Vernon High School </li>
				<li>
					Harold Webb,St. Louis, MO <br />
  Ladue Middle School </li>
				<li>
					Jane McDonald,Tallahassee, FL <br />
  James Rickards High School </li>
			  <li>
					Sharlene Martin,Orlando, FL <br />
  Good Shepherd Catholic School </li>
				<li>
					Latosha Caves,Livingston, AL <br />
  Livingston High School </li>
				<li>
					Charre Todd,Crossett, AR <br />
  Norman Middle School </li>
  <li>
   Kirstin Bullington,Columbia, SC <br />
WJ Keenan High School </li>
  
  <li>
   Mariann Brown,Georgetown, TX

 <br />
Zion Lutheran School </li>
  



				<li>
					Vicki Scott-Clark,Hammond, LA<br />
  Hammond High School </li>
				<li>
					Dan Boren,Roscoe, TX <br />
  Roscoe Collegiate High School </li>
				<li>
					Larry Griffin,Savannah, TN <br />
  Hardin County Middle School </li>
				<li>
					Kristi Larson,Mesa, AZ<br />
  ASU Preparatory Academy Polytechnic </li>
				<li>
					Glenn Bradbury,Bozeman, MT <br />
  Bozeman High School</li>
				<li>
					Jacqueline Parsons,Frederick, MD <br />
  Tuscarora High School</li>
				<li>
				Joel Naatus,Jersey City, NJ  <BR />              
				Christa McAuliffe School 28
				<li>
				Cheri Gorey,Brooklyn, OH <BR />
  Brooklyn High School </li>
				<li>
					Jamie Wiegel,Platte City, MO <br />
				Platte County High School </li>
				<li>
					Michael Benton,Somerset, PA<br>
				Area High School</li>
</UL>
			&nbsp;&nbsp;&nbsp;&nbsp; 

</body>
</html>