<cfsilent>
	<cfset asset = event.getArg("asset") />
	<cfset event.setArg("pageTitle", "#request.siteName# - #asset.getTitle()#") />
</cfsilent>
<cfoutput>
	<h1>#asset.getTitle()#</h1>	
	<div>#asset.getTitle_description()#</div>
</cfoutput>
<script type="text/javascript">
	window.print();
</script>