<cfsilent>
	<cfset r = event.getArg("r") />
</cfsilent>
<cfoutput>

<div>
	<div id="lb-top"><a href="##" id="lb-logout" onclick="clearWin();"></a></div>
	<div id="lb-middle">
	<div id="lbLoginForm">
	
	<h4>Forgot Username or Password?</h4>
	<br />
	
	<div id="errorMsg" style="display:none; font-size:12px; margin-bottom:8px; color:red;">You have entered an <i>incorrect</i> Email.</div>
	
	<div id="successText" style="display:none; font-size:12px; margin-bottom:8px; color:##0c740c;">
        An email will be sent containing your<br /> username and password.
     </div>
	
	<form method="post" onsubmit="forgotPasswordAction(); return false;">
		<input type="hidden" name="r" value="#r#" />
		<h4>Email Address</h4>
		<input type="text" size="36" name="email" id="lbEmail" value="" />&nbsp;&nbsp;
		<br /><br />
		<br /><input type="submit" value="Submit" />
	</form>
	<br clear="all" />	
	</div>
	</div>
	<div id="lb-bottom"></div>
</div>
</cfoutput>