<cfcomponent displayname="TypeGateway" output="false">
	<cffunction name="init" access="public" output="false" returntype="com.redactededucation.type.TypeGateway">
		<cfargument name="dsn" type="string" required="true" />
		<cfset variables.dsn = arguments.dsn />
		<cfreturn this />
	</cffunction>
	
	<cffunction name="getByAttributesQuery" access="public" output="false" returntype="query">
		<cfargument name="typeId" type="string" required="false" />
		<cfargument name="siteId" type="string" required="false" />
		<cfargument name="parentId" type="string" required="false" />
		<cfargument name="name" type="string" required="false" />
		<cfargument name="isActive" type="boolean" required="false" />
		<cfargument name="dtCreated" type="date" required="false" />
		<cfargument name="dtUpdated" type="date" required="false" />
		<cfargument name="createdBy" type="string" required="false" />
		<cfargument name="updatedBy" type="string" required="false" />
		<cfargument name="ipCreated" type="string" required="false" />
		<cfargument name="ipUpdated" type="string" required="false" />
		<cfargument name="orderNo" type="string" required="false" />
		<cfargument name="orderby" type="string" required="false" />
		
		<cfset var qList = "" />		
		<cfquery name="qList" datasource="#variables.dsn#">
			SELECT
				typeId,
				siteId,
				parentId,
				name,
				isActive,
				dtCreated,
				dtUpdated,
				createdBy,
				updatedBy,
				ipCreated,
				ipUpdated,
				orderNo
			FROM	cms_types
			WHERE	0=0
		
		<cfif structKeyExists(arguments,"typeId") and len(arguments.typeId)>
			AND	typeId = <cfqueryparam value="#arguments.typeId#" CFSQLType="cf_sql_idstamp" />
		</cfif>
		<cfif structKeyExists(arguments,"siteId") and len(arguments.siteId)>
			AND	siteId = <cfqueryparam value="#arguments.siteId#" CFSQLType="cf_sql_idstamp" />
		</cfif>
		<cfif structKeyExists(arguments,"parentId") and len(arguments.parentId)>
			AND	parentId = <cfqueryparam value="#arguments.parentId#" CFSQLType="cf_sql_idstamp" />
		</cfif>
		<cfif structKeyExists(arguments,"name") and len(arguments.name)>
			AND	name = <cfqueryparam value="#arguments.name#" CFSQLType="cf_sql_varchar" />
		</cfif>
		<cfif structKeyExists(arguments,"isActive") and len(arguments.isActive)>
			AND	isActive = <cfqueryparam value="#arguments.isActive#" CFSQLType="cf_sql_bit" />
		</cfif>
		<cfif structKeyExists(arguments,"dtCreated") and len(arguments.dtCreated)>
			AND	dtCreated = <cfqueryparam value="#arguments.dtCreated#" CFSQLType="cf_sql_timestamp" />
		</cfif>
		<cfif structKeyExists(arguments,"dtUpdated") and len(arguments.dtUpdated)>
			AND	dtUpdated = <cfqueryparam value="#arguments.dtUpdated#" CFSQLType="cf_sql_timestamp" />
		</cfif>
		<cfif structKeyExists(arguments,"createdBy") and len(arguments.createdBy)>
			AND	createdBy = <cfqueryparam value="#arguments.createdBy#" CFSQLType="cf_sql_idstamp" />
		</cfif>
		<cfif structKeyExists(arguments,"updatedBy") and len(arguments.updatedBy)>
			AND	updatedBy = <cfqueryparam value="#arguments.updatedBy#" CFSQLType="cf_sql_idstamp" />
		</cfif>
		<cfif structKeyExists(arguments,"ipCreated") and len(arguments.ipCreated)>
			AND	ipCreated = <cfqueryparam value="#arguments.ipCreated#" CFSQLType="cf_sql_varchar" />
		</cfif>
		<cfif structKeyExists(arguments,"ipUpdated") and len(arguments.ipUpdated)>
			AND	ipUpdated = <cfqueryparam value="#arguments.ipUpdated#" CFSQLType="cf_sql_varchar" />
		</cfif>
		<cfif structKeyExists(arguments,"orderNo") and len(arguments.orderNo)>
			AND	orderNo = <cfqueryparam value="#arguments.orderNo#" CFSQLType="cf_sql_integer" />
		</cfif>
		<cfif structKeyExists(arguments, "orderby") and len(arguments.orderBy)>
			ORDER BY #arguments.orderby#
		</cfif>
		</cfquery>
		
		<cfreturn qList />
	</cffunction>
	
	<cffunction name="getByResourceIdQuery" access="public" output="false" returntype="query">
		<cfargument name="resourceId" type="string" required="true" />
		<cfargument name="orderby" type="string" required="false" />
		
		<cfset var qList = "" />		
		<cfquery name="qList" datasource="#variables.dsn#">
			SELECT
				c.typeId,
				siteId,
				parentId,
				name,
				isActive,
				dtCreated,
				dtUpdated,
				createdBy,
				updatedBy,
				ipCreated,
				ipUpdated,
				orderNo
			FROM	cms_types c
			JOIN	cms_resource_types rc
			ON		rc.typeId = c.typeId
			WHERE	0=0
		
		<cfif structKeyExists(arguments,"resourceId") and len(arguments.resourceId)>
			AND	rc.resourceId = <cfqueryparam value="#arguments.resourceId#" CFSQLType="cf_sql_idstamp" />
		</cfif>
		<cfif structKeyExists(arguments, "orderby") and len(arguments.orderBy)>
			ORDER BY #arguments.orderby#
		</cfif>
		</cfquery>
		
		<cfreturn qList />
	</cffunction>
	
	<cffunction name="getByResourceId" access="public" output="false" returntype="array">
		<cfargument name="resourceId" type="string" required="true" />
		<cfargument name="orderby" type="string" required="false" />
		
		<cfset var qList = getByResourceIdQuery(argumentCollection=arguments) />
		<cfset var arrObjects = arrayNew(1) />
		<cfset var tmpObj = "" />
		<cfset var i = 0 />
		<cfloop from="1" to="#qList.recordCount#" index="i">
			<cfset tmpObj = createObject("component","com.redactededucation.type.Type").init(argumentCollection=queryRowToStruct(qList,i)) />
			<cfset arrayAppend(arrObjects,tmpObj) />
		</cfloop>
				
		<cfreturn arrObjects />
	</cffunction>

	<cffunction name="getByAttributes" access="public" output="false" returntype="array">
		<cfargument name="typeId" type="string" required="false" />
		<cfargument name="siteId" type="string" required="false" />
		<cfargument name="parentId" type="string" required="false" />
		<cfargument name="name" type="string" required="false" />
		<cfargument name="isActive" type="boolean" required="false" />
		<cfargument name="dtCreated" type="date" required="false" />
		<cfargument name="dtUpdated" type="date" required="false" />
		<cfargument name="createdBy" type="string" required="false" />
		<cfargument name="updatedBy" type="string" required="false" />
		<cfargument name="ipCreated" type="string" required="false" />
		<cfargument name="ipUpdated" type="string" required="false" />
		<cfargument name="orderNo" type="string" required="false" />
		<cfargument name="orderby" type="string" required="false" />
		
		<cfset var qList = getByAttributesQuery(argumentCollection=arguments) />		
		<cfset var arrObjects = arrayNew(1) />
		<cfset var tmpObj = "" />
		<cfset var i = 0 />
		<cfloop from="1" to="#qList.recordCount#" index="i">
			<cfset tmpObj = createObject("component","com.redactededucation.type.Type").init(argumentCollection=queryRowToStruct(qList,i)) />
			<cfset arrayAppend(arrObjects,tmpObj) />
		</cfloop>
				
		<cfreturn arrObjects />
	</cffunction>

	<cffunction name="queryRowToStruct" access="private" output="false" returntype="struct">
		<cfargument name="qry" type="query" required="true">
		
		<cfscript>
			/**
			 * Makes a row of a query into a structure.
			 * 
			 * @param query 	 The query to work with. 
			 * @param row 	 Row number to check. Defaults to row 1. 
			 * @return Returns a structure. 
			 * @author Nathan Dintenfass (nathan@changemedia.com) 
			 * @version 1, December 11, 2001 
			 */
			//by default, do this to the first row of the query
			var row = 1;
			//a var for looping
			var ii = 1;
			//the cols to loop over
			var cols = listToArray(qry.columnList);
			//the struct to return
			var stReturn = structnew();
			//if there is a second argument, use that for the row number
			if(arrayLen(arguments) GT 1)
				row = arguments[2];
			//loop over the cols and build the struct from the query row
			for(ii = 1; ii lte arraylen(cols); ii = ii + 1){
				stReturn[cols[ii]] = qry[cols[ii]][row];
			}		
			//return the struct
			return stReturn;
		</cfscript>
	</cffunction>

</cfcomponent>
