<cfcomponent extends="ajax" displayname="userAjax">


    <cfif ListLen(cgi.SERVER_NAME,".") GTE 2>
         <cfset var hostname = ListGetAt(cgi.SERVER_NAME,2,".") />
    
    <cfelse> 
         <cfset var hostname = cgi.SERVER_NAME />
    </cfif>
   
        <cfif FindNoCase("dev",hostname)>
            <cfset strCookieDomain = ".dev.redactededucation.com" />
        <cfelseif FindNoCase("stage",hostname)>
            <cfset strCookieDomain = ".stage.redactededucation.com" />
        <cfelseif FindNoCase("local",hostname) gt 0>
            <cfset strCookieDomain = ".local.redactededucation.com" />
        <cfelse>
            <cfset strCookieDomain = ".redactededucation.com" />
        </cfif>
	


	<cffunction name="checkUserName" access="public" returntype="struct">
		<cfargument name="strUserName" type="string" required="yes" default="">
        
        <cfset stcData = structNew()>
		<cfset stcData.blnDuplicate = true>
        <cfset stcData.blnInvalid = true>
        <cfset stcData.strMessage="<img src='/images/not_ok.gif' title='Try Another'>&nbsp;Try Another" />
        
        <cfif isEmail(Trim(arguments.strUserName))>
        	<cfset stcData.blnInvalid = false>     
            <cfquery name="qCheckUserName" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
				SELECT su.*
				FROM SPONSOR_USER AS su with (nolock)
					INNER JOIN SPONSOR_USER_ASSN AS sua with (nolock)
					ON (
						su.SPONSOR_USER_GUID = sua.SPONSOR_USER_GUID AND
						sua.SPONSOR_GUID = '#application.SPONSOR_GUID#'
					)
				WHERE su.UID = '#Trim(arguments.strUserName)#'
            </cfquery>
            <cfif NOT qCheckUserName.RECORDCOUNT>
                <cfset stcData.blnDuplicate = false>
                <cfset stcData.strMessage="<img src='/images/ok.gif' title='Available.'>&nbsp;Available">
            <cfelse>
                <cfset stcData.blnDuplicate = true>
                <cfset stcData.strMessage="<img src='/images/not_ok.gif' title='Try Another'>&nbsp;Try Another" />	<!--- Duplicate --->
            </cfif>
        <cfelse>
        	<cfset stcData.blnDuplicate = false>
            <cfset stcData.strMessage="<img src='/images/not_ok.gif' title='Invalid Email.' />&nbsp;Invalid Email" />
        </cfif>
        
		<cfreturn stcData>
	</cffunction>
    
	
    <cffunction name="isEmail" access="public" displayname="Indicates whether the input string is considered to be a properly formatted email address." output="no" returntype="boolean" hint="Returns a boolean value indicating whether the input string is considered to be a properly formatted email address.">
		<cfargument name="str" type="string" required="yes" hint="String input email address.">

		<cfscript>
			str = arguments.str;

			if (reFindNoCase("^['_a-z0-9-/]+(\.['_a-z0-9-/]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.(([a-z]{2,3})|(aero|coop|info|museum|name))$",str)) return true;
			else return false;
		</cfscript>
	</cffunction>
    
	
    <cffunction access="public" name="getGlobalUserInfo" output="no" returntype="query">
		<cfargument name="APP_USER_GUID" type="string" required="yes" default="00000000-0000-0000-0000-000000000000">

		<cfquery name="qGetGlobalUserInfo" datasource="#Application.dbinfo.strGlobalDatasource#">
            SELECT FIRST_NAME
                , LAST_NAME
                , TITLE
                , UID
                , master.dbo.fn_DE_Encrypt(PWD) PWD
                , EMAIL
                , ADDRESS1
                , CITY
                , REGION_CODE
                , COUNTRY_CODE
                , POSTAL_CODE
                , SECURITY_QUESTION_GUID
                , SECURITY_QUESTION_ANSWER
            FROM APP_USER (NOLOCK)
            WHERE APP_USER_GUID = '#arguments.APP_USER_GUID#'
        </cfquery>
    	
        <cfreturn qGetGlobalUserInfo>
	</cffunction>
    
	
    <cffunction access="public" name="SponsorshipsAppUserGuidLogin" output="no" returntype="void">
    
		<cfquery name="qUserCheck" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
            SELECT SPONSOR_USER_GUID
            	, FIRST_NAME
                , LAST_NAME
                , EMAIL
            FROM SPONSOR_USER (NOLOCK)
            WHERE APP_USER_GUID = '#COOKIE.APP_USER_GUID#'
        </cfquery>
        
        <cfif qUserCheck.recordcount>
			<cfcookie name="SPONSOR_USER_GUID" value="#qUserCheck.SPONSOR_USER_GUID#" domain="#strCookieDomain#" path="/" expires="0.02" />
            <cfcookie name="FIRST_NAME" value="#qUserCheck.FIRST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="FIRST_NAME" value="#qUserCheck.LAST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="EMAIL" value="#qUserCheck.EMAIL#" domain="#strCookieDomain#" path="/" expires="0.02" />
		</cfif>
        
	</cffunction>
    
	
    <cffunction access="remote" name="SponsorshipsUserNameLoginAjax" output="no" returntype="any">
    	<cfargument name="USERNAME" type="string" required="yes" default="">
		<cfargument name="PASSWORD" type="string" required="yes" default="">
        
        <cfset blnValidUser = false>
    
		<cfquery name="qSponsorshipsUserCheck" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
        	SELECT SPONSOR_USER_GUID
            	, FIRST_NAME
                , LAST_NAME
                , EMAIL
            FROM SPONSOR_USER (NOLOCK)
            WHERE UID = '#arguments.USERNAME#'
            AND PWD = master.dbo.fn_DE_Encrypt('#arguments.PASSWORD#')
        </cfquery>
        
        <cfif qSponsorshipsUserCheck.recordcount>
        	<cfset blnValidUser = #qSponsorshipsUserCheck.FIRST_NAME#>
			<cfcookie name="SPONSOR_USER_GUID" value="#qSponsorshipsUserCheck.SPONSOR_USER_GUID#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="FIRST_NAME" value="#qSponsorshipsUserCheck.FIRST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="LAST_NAME" value="#qSponsorshipsUserCheck.LAST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="EMAIL" value="#qSponsorshipsUserCheck.EMAIL#" domain="#strCookieDomain#" path="/" expires="0.02"/>
        <cfelse>
        	<cfquery name="qGlobalUserCheck" datasource="#Application.dbinfo.strGlobalDatasource#">
                SELECT APP_USER_GUID
                	, FIRST_NAME
                    , LAST_NAME
                    , EMAIL
				FROM APP_USER (NOLOCK)
                WHERE UID = '#arguments.USERNAME#'
                AND PWD = master.dbo.fn_DE_Encrypt('#arguments.PASSWORD#')
            </cfquery>
            
            <cfif qGlobalUserCheck.recordcount>
            	<cfset blnValidUser = true>
				<cfcookie name="APP_USER_GUID" value="#qGlobalUserCheck.APP_USER_GUID#" domain="#strCookieDomain#" path="/" expires="0.02"/>
                <cfcookie name="FIRST_NAME" value="#qGlobalUserCheck.FIRST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
                <cfcookie name="LAST_NAME" value="#qGlobalUserCheck.LAST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
                <cfcookie name="EMAIL" value="#qGlobalUserCheck.EMAIL#" domain="#strCookieDomain#" path="/" expires="0.02"/>
                <cfcookie name="lstProducts" value="" domain="#strCookieDomain#" path="/" />
                
                <cfset SponsorshipsAppUserGuidLogin(qGlobalUserCheck.APP_USER_GUID)>	<!--- TRY TO LOGIN TO SPONSORSHIP --->
            </cfif>            
		</cfif>
        
        <cfreturn blnValidUser>
	</cffunction>
    
	
    <cffunction access="public" name="SponsorshipsUserNameLogin" output="no" returntype="boolean">
    	<cfargument name="USERNAME" type="string" required="yes" default="">
		<cfargument name="PASSWORD" type="string" required="yes" default="">
        
        <cfset blnValidUser = false>
    
		<cfquery name="qSponsorshipsUserCheck" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
        	SELECT SPONSOR_USER_GUID
            	, FIRST_NAME
                , LAST_NAME
                , EMAIL
            FROM SPONSOR_USER (NOLOCK)
            WHERE UID = '#arguments.USERNAME#'
            AND PWD = master.dbo.fn_DE_Encrypt('#arguments.PASSWORD#')
        </cfquery>
        
        <cfif qSponsorshipsUserCheck.recordcount>
        	<cfset blnValidUser = true>
			<cfcookie name="SPONSOR_USER_GUID" value="#qSponsorshipsUserCheck.SPONSOR_USER_GUID#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="FIRST_NAME" value="#qSponsorshipsUserCheck.FIRST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="LAST_NAME" value="#qSponsorshipsUserCheck.LAST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02"/>
            <cfcookie name="EMAIL" value="#qSponsorshipsUserCheck.EMAIL#" domain="#strCookieDomain#" path="/" expires="0.02"/>
        <cfelse>
        	<cfquery name="qGlobalUserCheck" datasource="#Application.dbinfo.strGlobalDatasource#">
                SELECT APP_USER_GUID
                	, FIRST_NAME
                    , LAST_NAME
                    , EMAIL
				FROM APP_USER (NOLOCK)
                WHERE UID = '#arguments.USERNAME#'
                AND PWD = master.dbo.fn_DE_Encrypt('#arguments.PASSWORD#')
            </cfquery>
            
            <cfif qGlobalUserCheck.recordcount>
            	<cfset blnValidUser = true>
				<cfcookie name="APP_USER_GUID" value="#qGlobalUserCheck.APP_USER_GUID#" domain="#strCookieDomain#" path="/" expires="0.02"/>
                <cfcookie name="FIRST_NAME" value="#qGlobalUserCheck.FIRST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02" />
                <cfcookie name="FIRST_NAME" value="#qGlobalUserCheck.LAST_NAME#" domain="#strCookieDomain#" path="/" expires="0.02" />
                <cfcookie name="EMAIL" value="#qGlobalUserCheck.EMAIL#" domain="#strCookieDomain#" path="/" expires="0.02"/>
                <cfcookie name="lstProducts" value="" domain="#strCookieDomain#" path="/" expires="0.02"/>
                
                <cfset SponsorshipsAppUserGuidLogin(qGlobalUserCheck.APP_USER_GUID)>	<!--- TRY TO LOGIN TO SPONSORSHIP --->
            </cfif>            
		</cfif>
        
        <cfreturn blnValidUser>
	</cffunction>
    
	
    <cffunction access="public" name="SponsorshipsLoginPopup" output="no" returntype="struct">
    	<cfset stcData = structNew()>
		<cfset stcData.blnError = false>
        <cfset stcData.html = "">
        
        <cftry>
			<cfset blnLogin = SponsorshipsUserNameLogin(USERNAME="#arguments.strLoginUsername#",PASSWORD="#arguments.strLoginPassword#")>
            <cfcatch>
            	<cfset stcData.blnError = true>
            	<cfsavecontent variable="stcData.html">Error: SponsorshipsUserNameLogin ...
                	<cfdump var="#arguments#"><cfdump var="#cfcatch#">
                </cfsavecontent>
            </cfcatch>
        </cftry>
        <cfif NOT stcData.blnError>
        	<cfif NOT blnLogin>
            	<cfset stcData.blnError = true>
				<cfset stcData.html = "Invalid Login. Please try again.">
			</cfif>
        </cfif>         
        
        <cfreturn stcData>
    </cffunction>
    
    
    <cffunction access="public" name="getPublicPage" output="no" returntype="struct">
    	<cfargument name="pageURL" type="string" required="yes">
        
    	<cfset stcData = structNew()>
		<cfset stcData.blnError = false>
        <cfset stcData.html = "">
        
        <cfsavecontent variable="stcData.html">
        	<cfinclude template="#arguments.pageURL#">
        </cfsavecontent>
    
    	<cfreturn stcData>
    </cffunction>
    
	
    <cffunction access="public" name="forGotUserName" output="no" returntype="struct">
        
    	<cfset stcData = structNew()>
		<cfset stcData.blnError = false>
        <cfset stcData.html = "">
        
        <cfif isDefined("arguments.strforgotusername")>
			<cftry>
				<cfquery name="qCheckUserName" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
                    SELECT u.SPONSOR_USER_GUID
                    	, u.UID
                    	, master.dbo.fn_DE_Decrypt(u.PWD) PWD
                    	, u.SECURITY_QUESTION_GUID
                        , q.QUESTION
                        , u.SECURITY_QUESTION_ANSWER
                    FROM SPONSOR_USER u (NOLOCK)
                        LEFT JOIN EDU_SEC.DBO.SECURITY_QUESTION q (NOLOCK) ON u.SECURITY_QUESTION_GUID = q.SECURITY_QUESTION_GUID
                    WHERE u.UID = '#arguments.strforgotusername#'
                </cfquery>
                <cfcatch>
                    <cfset stcData.blnError = true>
                    <cfsavecontent variable="stcData.html">Error: qCheckUserName ...
                        <cfdump var="#arguments#"><cfdump var="#cfcatch#">
                    </cfsavecontent>
                </cfcatch>
            </cftry>
            <cfif NOT stcData.blnError>
				<cfif qCheckUserName.recordcount>
                    <cfif qCheckUserName.SECURITY_QUESTION_GUID EQ "">
                        <cfset stcData.blnError = true>
                        <cfset stcData.html = "No security question found for this User. Please contact the Administrator">
                    <cfelseif Trim(qCheckUserName.SECURITY_QUESTION_ANSWER) EQ "">
                        <cfset stcData.blnError = true>
                        <cfset stcData.html = "No security answer found for this User. Please contact the Administrator">
                    <cfelse>
                        <cfsavecontent variable="stcData.html">
                            <table width="50%" border="0" cellpadding="2" cellspacing="0" align="center">
                            	<!---<tr>
                                	<td nowrap="nowrap" class="temp" align="left"><b>Username:</b>&nbsp;&nbsp;&nbsp;<cfoutput>#qCheckUserName.UID#</cfoutput><br>&nbsp;</td>
                                </tr>--->
                                <tr>
                                    <td nowrap="nowrap" class="temp" align="left"><b><cfoutput>#qCheckUserName.QUESTION#</cfoutput></b></td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <input type="text" class="temp" name="strSecurityQuestionAnswer" id="strSecurityQuestionAnswer" style="width:20em;" maxlength="255" onblur="this.value=this.value.replace(/^\s+|\s+$/g,'');">
                                        <input name="hidSPONSORUSERGUID" id="hidSPONSORUSERGUID" type="hidden" value="<cfoutput>#qCheckUserName.SPONSOR_USER_GUID#</cfoutput>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><br />
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="right"><input name="btnSubmit1" type="button" class="temp" id="btnSubmit1" style="width: 20em;" value=" continue " onClick="forgotUserName('strSecurityQuestionAnswer')" /></td>
                                                <td width="48%" valign="middle"><img src="/images/ajax-greenWait.gif" alt="Wait" id="imgTopWaitGif" style="visibility:hidden;" />&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </cfsavecontent>
                    </cfif>
                <cfelse>
                    <cfset stcData.blnError = true>
					<cfset stcData.html = "Invalid Login. User information not found.">
                </cfif>
            </cfif>          
		</cfif>
       	
        <cfif isDefined("arguments.strSecurityQuestionAnswer")>
			<cftry>
				<cfquery name="qCheckUserAnswer" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
                    SELECT u.SPONSOR_USER_GUID
                    	, u.UID
                    	, master.dbo.fn_DE_Decrypt(u.PWD) PWD
                    	, u.SECURITY_QUESTION_GUID
                        , q.QUESTION
                        , u.SECURITY_QUESTION_ANSWER
                    FROM SPONSOR_USER u (NOLOCK)
                        LEFT JOIN EDU_SEC.DBO.SECURITY_QUESTION q (NOLOCK) ON u.SECURITY_QUESTION_GUID = q.SECURITY_QUESTION_GUID
                    WHERE u.SPONSOR_USER_GUID = '#arguments.hidSPONSORUSERGUID#'
                    AND u.SECURITY_QUESTION_ANSWER = '#arguments.strSecurityQuestionAnswer#'
                </cfquery>
                <cfcatch>
                    <cfset stcData.blnError = true>
                    <cfsavecontent variable="stcData.html">Error: qCheckUserAnswer ...
                        <cfdump var="#arguments#"><cfdump var="#cfcatch#">
                    </cfsavecontent>
                </cfcatch>
            </cftry>
            <cfif NOT stcData.blnError>
				<cfif qCheckUserAnswer.recordcount>
                	<cfsavecontent variable="stcData.html">
                        <table width="60%" border="0" cellpadding="2" cellspacing="0" align="center">
                            <tr>
                                <td nowrap="nowrap" class="temp" align="left" colspan="2" style="color:black;"><b>Create a new password:</b><br />&nbsp;</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" class="temp" align="right" width="18%"><b>Password :</b></td>
                                <td><input name="txtForgotPassword" type="password" class="temp" id="txtForgotPassword" style="width: 20em;" maxlength="255" onblur="this.value=this.value.replace(/^\s+|\s+$/g,'');"/></td>
                            </tr>
                            <tr>     
                                <td nowrap="nowrap" class="temp" align="right"><b>Confirm Password :</b></td>
                                <td>
                                	<input name="txtForgotConfirmPassword" type="password" class="temp" id="txtForgotConfirmPassword" style="width: 20em;" maxlength="255" onblur="this.value=this.value.replace(/^\s+|\s+$/g,'');"/>
                                	<input name="hidSPONSORUSERGUID" id="hidSPONSORUSERGUID" type="hidden" value="<cfoutput>#qCheckUserAnswer.SPONSOR_USER_GUID#</cfoutput>" />
                                    <input name="hidSPONSORUSERNAME" id="hidSPONSORUSERNAME" type="hidden" value="<cfoutput>#qCheckUserAnswer.UID#</cfoutput>" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><br />
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="right" width="58%"><input name="btnSubmit1" type="button" class="temp" id="btnSubmit1" style="width: 20em;" value=" continue " onClick="forgotUserName('txtForgotPassword')" /></td>
                                            <td width="48%" valign="middle"><img src="/images/ajax-greenWait.gif" alt="Wait" id="imgTopWaitGif" style="visibility:hidden;" />&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </cfsavecontent>
                <cfelse>
                	<cfset stcData.blnError = true>
                	<cfset stcData.html = "Invalid Security Answer. User information not found.">
				</cfif>
			<cfelse>
				<cfset stcData.blnError = true>
                <cfset stcData.html = "Invalid Security Answer. User information not found.">
            </cfif>
        </cfif>
        
        <cfif isDefined("arguments.txtForgotPassword")>
        	<cfif Trim(arguments.txtForgotPassword) EQ "" OR  Trim(arguments.txtForgotConfirmPassword) EQ "">
				<cfset stcData.blnError = true>
				<cfset stcData.html = "Please provide both a Password and a Confirmation Password.">
            <cfelseif Len(Trim(arguments.txtForgotPassword)) LT 4>
            	<cfset stcData.blnError = true>
				<cfset stcData.html = "Your Password must be at least 4 characters.">
            <cfelseif Trim(arguments.txtForgotPassword) EQ arguments.hidSPONSORUSERNAME>
            	<cfset stcData.blnError = true>
				<cfset stcData.html = "Your Password can not match your Username.">
            <cfelseif LISTFINDNOCASE("user,username,test,pass,password,free,blank",Trim(arguments.txtForgotPassword))>
            	<cfset stcData.blnError = true>
				<cfset stcData.html = "Your Password can not be ... user,username,test,pass,password,free,blank">
            <cfelseif Trim(arguments.txtForgotPassword) NEQ Trim(arguments.txtForgotConfirmPassword)>
            	<cfset stcData.blnError = true>
				<cfset stcData.html = "Your Password and your Confirmation Password do not match.">	
			</cfif>
        	
            <cfif NOT stcData.blnError>
				<cftry>
                	<cfquery name="qSetPassword" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
                    	UPDATE SPONSOR_USER
                        	SET PWD = master.dbo.fn_DE_Encrypt('#TRIM(arguments.txtForgotPassword)#')
                        WHERE SPONSOR_USER_GUID = '#arguments.hidSPONSORUSERGUID#'
                    </cfquery>
                	<cfcatch>
                    	<cfset stcData.blnError = true>
                        <cfsavecontent variable="stcData.html">Error: qSetPassword ...
                            <cfdump var="#arguments#"><cfdump var="#cfcatch#">
                        </cfsavecontent>
                    </cfcatch>
                </cftry>
                
                <cfif NOT stcData.blnError>
					<cfsavecontent variable="stcData.html">
                        <table width="80%" border="0" cellpadding="2" cellspacing="0">
                            <tr>
                                <td nowrap="nowrap" class="temp" align="center" style="color:green">Success. Password changed.</td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap" class="temp" align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"><a href="javascript:;" onclick="window.scrollTo(0,0);getLoginForm();">Click here to login.</a></td>
                            </tr>                            
                        </table>
                    </cfsavecontent>
				</cfif>
            </cfif>
        </cfif>
        
        <cfreturn stcData>
    </cffunction>
    
	
    <cffunction access="public" name="forGotUserNameEmail" output="no" returntype="struct">
        
    	<cfset stcData = structNew()>
		<cfset stcData.blnError = false>
        <cfset stcData.html = "">
        
        <cfif isDefined("arguments.strForgotEmail")>
        	<cfif Len(trim(arguments.strForgotEmail)) GT 0>
            	<cftry>
                	<cfquery name="qGetEmailAcct" datasource="#Application.dbinfo.strSponsorshipsDatasource#">
                    	SELECT FIRST_NAME
                        	, LAST_NAME
                            , UID
                            , master.dbo.fn_DE_Decrypt(PWD) PWD
                            , EMAIL
                        FROM SPONSOR_USER (nolock)
                        WHERE EMAIL = '#trim(arguments.strForgotEmail)#'
                    </cfquery>
                	<cfcatch>
                    	<cfset stcData.blnError = true>
                        <cfsavecontent variable="stcData.html">Error: qGetEmailAcct ...
                            <cfdump var="#arguments#"><cfdump var="#cfcatch#">
                        </cfsavecontent>
                    </cfcatch>
                </cftry>
                
                <cfif NOT stcData.blnError>
                	<cfif qGetEmailAcct.recordcount>
                    	<cftry>
                        	<cfmail from="education_info@redacted.com" to="#Trim(qGetEmailAcct.EMAIL)#" subject="Important Account Information" timeout="30">
This e-mail contains important account information.  For security purposes, your password will be sent in a separate e-mail. 
Please review and keep for future reference.

Thank you,

redacted Education
800-323-9084
www.redactededucation.com


---[ Login Information ]----------------------------------

Login: #Trim(qGetEmailAcct.UID)#

----------------------------------------------------------

							</cfmail>
                        
							<!--- Password Email --->
                            <cfmail from="education_info@redacted.com" to="#Trim(qGetEmailAcct.EMAIL)#" subject="Important Account Information" timeout="30">
This e-mail contains important account information.  For security purposes, your login will be sent in a separate e-mail. 
Thank you,

redacted Education
800-323-9084
www.redactededucation.com



---[ Login Information ]----------------------------------

Password: #Trim(qGetEmailAcct.PWD)#

---------------------------------------------------------
							</cfmail>
                        	<cfcatch>
                            	<cfset stcData.blnError = true>
                                <cfsavecontent variable="stcData.html">Error: Trying to mail out your login info ...
                                    <cfdump var="#arguments#"><cfdump var="#qGetEmailAcct#">
                                </cfsavecontent>
                            </cfcatch>
                        </cftry>
                        
                        <cfif NOT stcData.blnError>
							<cfsavecontent variable="stcData.html">
								<div>
									<span style="color:green;">
										Your Login information has been Emailed to you.
									</span>
									&nbsp;
									<a href="#" onclick="window.scrollTo(0,0); getLoginForm(); return false;">Click here to login.</a>
								</div>
                            </cfsavecontent>
						</cfif>
					<cfelse>
                    	<cfset stcData.blnError = true>
                		<cfset stcData.html = "<span style=""color:red;"">The Email Address you provided, was not found. Please try again.</span>">
					</cfif>
				</cfif>
			<cfelse>
            	<cfset stcData.blnError = true>
                <cfset stcData.html = "<span style=""color:red;"">Please provide your Email Address, so we can mail you, your login information.</span>">
			</cfif>
		<cfelse>
        	<cfset stcData.blnError = true>
            <cfsavecontent variable="stcData.html">Error: forGotUserNameEmail ... The correct argument not passed.
                <cfdump var="#arguments#">
            </cfsavecontent>
		</cfif>
        
        <cfreturn stcData>
   </cffunction> 


</cfcomponent>