<div class="carousel-container">
	<div class="carousel-wrapper">
		<div class="carousel-content">
			<div class="slide"><a title="My Caption" rel="lightbox[pics]" href="img/21472%2D171%5F1000x667%2Ejpg"> <img title="21472-171_195x130.jpg" src="img/21472%2D171%5F195x130%2Ejpg" alt="21472-171_195x130.jpg" width="195" height="130" /> </a></div>
			<div class="slide"><a title="My Caption" rel="lightbox[pics]" href="img/21472%2D183%5F1000x667%2Ejpg"> <img title="21472-183_195x130.jpg" src="img/21472%2D183%5F195x130%2Ejpg" alt="21472-183_195x130.jpg" width="195" height="130" /> </a></div>
			<div class="slide"><a title="My Caption" rel="lightbox[pics]" href="img/21472%2D185%5F1000x667%2Ejpg"> <img title="21472-185_195x130.jpg" src="img/21472%2D185%5F195x130%2Ejpg" alt="21472-185_195x130.jpg" width="195" height="130" /> </a></div>
			<div class="slide"><a title="My Caption" rel="lightbox[pics]" href="img/21472%2D205%5F1000x667%2Ejpg"> <img title="21472-205_195x130.jpg" src="img/21472%2D205%5F195x130%2Ejpg" alt="21472-205_195x130.jpg" width="195" height="130" /> </a></div>
			<div class="slide"><a title="My Caption" rel="lightbox[pics]" href="img/21472%2D216%5F1000x667%2Ejpg"> <img title="21472-216_195x130.jpg" src="img/21472%2D216%5F195x130%2Ejpg" alt="21472-216_195x130.jpg" width="195" height="130" /> </a></div>
			<div class="slide"><a title="My Caption" rel="lightbox[pics]" href="img/21472%2D285%5F1000x667%2Ejpg"> <img title="21472-285_195x130.jpg" src="img/21472%2D285%5F195x130%2Ejpg" alt="21472-285_195x130.jpg" width="195" height="130" /> </a></div>
		</div>
	</div>
	<div class="carousel-controls">
		<div style="width: 30px; float: left;"><a class="carousel-control prev" rel="prev" href="javascript:">Previous</a></div>
		<div style="width: 550px; float: left;">&nbsp;</div>
		<div style="width: 30px; float: left;"><a class="carousel-control next" rel="next" href="javascript:">Next</a></div>
	</div>
</div>