

/************************/
/*  Judge CSS           */
/************************/

div.judge {
	margin:0px 0px 0px 10px;
	padding:10px 0px 0px 0px;
}

div.judge h2.title {
	margin-left:5px;
	text-transform:none !important;
}

div.judge div.titleSub {
	font-size:1.3em;
	font-style:italic;
	font-weight:bold;
	margin-left:5px;
}

div.judge div.formWrap {
	background-color:#f6f6f6;
	float:left;
	margin:10px 0px 10px 0px;
	
}

div.judge div.formWrap div.formWrapTopLeft {
	background-image: url('../images/judgeTitleLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:29px;
	width:2px;
}

div.judge div.formWrap div.formWrapTop {
	border-top:1px solid #cccccc;
	color:#ffffff;
	float:left;
	font-family:arial,helvetica,sans-serif !important;
	font-weight:bold;
	font-size:1.3em;
	text-transform:uppercase;
	height:28px;
	line-height:28px;
	position:relative;
	width:944px;
}

div.judge div.formWrap div.formWrapTop img {
	height:28px; 
	left:0px;
	position:absolute;
	top:0px;
	width:944px;
	z-index:1;
}

div.judge div.formWrap div.formWrapTop div.formWrapTopText {
	color:#333333;
	left:0px;
	position:absolute;
	top:0px;
	z-index:2;
}

div.judge div.formWrap div.formWrapTopRight {
	background-image: url('../images/judgeTitleRight.png');
	background-repeat:no-repeat;
	float:left;
	height:29px;
	width:2px;
}

div.judge div.formWrap div.formWrapMiddle {
	border-left:1px solid #cccccc; 
	border-right:1px solid #cccccc;
}



div.judge div.formWrap div.formWrapBottomLeft {
	background-image: url('../images/formWrapBottomLeft.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:9px;
	line-height:0px;
	width:9px;
}

div.judge div.formWrap div.formWrapBottom {
	border-bottom:1px solid #cccccc;
	float:left;
	font-size:0px;
	height:9px;
	line-height:0px;
	width:930px;
}

div.judge div.formWrap div.formWrapBottomRight {
	background-image: url('../images/formWrapBottomRight.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:9px;
	line-height:0px;
	width:9px;
}

div.judge div.nav {
	float:left;
	width:190px;
}

div.judge div.content {
	float:left;
	margin-bottom:20px;
	width:745px;
}



/************************/
/*  Section CSS         */
/************************/

div.judge div.section {
	float:left;
	margin-right:1px;
}

div.judge div.section div.left {
	background-image: url('../images/sectionLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:24px;
	width:8px;
}

div.judge div.section div.middle {
	background-image: url('../images/sectionMiddle.png');
	background-repeat:repeat-x;
	color:#ffffff;
	float:left;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	padding:0px 5px 0px 5px;
	width:710px;
}

div.judge div.section div.right {
	background-image: url('../images/sectionRight.png');
	background-repeat:no-repeat;
	float:left;
	height:24px;
	width:8px;
}



/************************/
/*  Pod CSS             */
/************************/

div.judge div.pods {
	background-color:#ffffff; 
	border-bottom:1px solid #cccccc; 
	border-left:1px solid #cccccc; 
	border-right:1px solid #cccccc;
}

div.judge div.pod {
	margin:10px 0px 15px 30px;
	/*width:630px;*/
}

div.judge div.pod div.podTitleLeft {
	background-image: url('../images/podTitleLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:2px;
}

div.judge div.pod div.podTitleCenter {
	background-image: url('../images/podTitleCenter.png');
	background-repeat:repeat-x;
	color:#2A6262;
	float:left;
	font-size:1.1em;
	font-weight:bold;
	height:22px;
	line-height:22px;
	/* width:626px; */
}

div.judge div.pod div.podTitleCenter div.padding {
	margin-left:10px;
}

div.judge div.pod div.podTitleRight {
	background-image: url('../images/podTitleRight.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:2px;
}

div.judge div.pod div.podContent {
	background-color:#ffffff;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	margin:0px;
	padding:0px;
}



/************************/
/*  Nav CSS             */
/************************/

div.judge div.nav div.navLeft {
	float:left;
	margin-left:10px;
	width: 22px;
}

div.judge div.nav div.navLeft div.navTopLeft {
	background-image: url('../images/navTopLeft.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:8px;	
	line-height:0px;
	position:relative;
	width:22px;
}

div.judge div.nav div.navLeft div.navTopLeft div.arrows {
	height:180px;  /* will probably be removed */
	left:0px;
	position:absolute;
	top:0px;
	width:22px;
}

div.judge div.nav div.navLeft div.navTopLeft div.arrows div.arrow {
	float:left;
	height:30px;
	width:22px;
}

div.judge div.nav div.navLeft div.navTopLeft div.arrows div.arrow img {
	height:9px;
	margin:11px 0px 0px 9px;
	width:5px;
}

div.judge div.nav div.navLeft div.navMiddleLeft {
	background-repeat:repeat-x;
	float:left;
	font-size:0px;
	line-height:0px;
	width:22px;
}

div.judge div.nav div.navLeft div.navMiddleLeft3 {
	background-image: url('../images/navMiddleLeft74.png');
	height:74px;
}

div.judge div.nav div.navLeft div.navMiddleLeft4 {
	background-image: url('../images/navMiddleLeft104.png');
	height:104px;
}

div.judge div.nav div.navLeft div.navMiddleLeft5 {
	background-image: url('../images/navMiddleLeft134.png');
	height:134px;
}

div.judge div.nav div.navLeft div.navMiddleLeft6 {
	background-image: url('../images/navMiddleLeft164.png');
	height:164px;
}

div.judge div.nav div.navLeft div.navMiddleLeft7 {
	background-image: url('../images/navMiddleLeft194.png');
	height:194px;
}

div.judge div.nav div.navLeft div.navMiddleLeft8 {
	background-image: url('../images/navMiddleLeft224.png');
	height:224px;
}

div.judge div.nav div.navLeft div.navMiddleLeft9 {
	background-image: url('../images/navMiddleLeft254.png');
	height:254px;
}

div.judge div.nav div.navLeft div.navBottomLeft {
	background-image: url('../images/navBottomLeft.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:8px;	
	line-height:0px;
	width:22px;
}

div.judge div.nav div.navRight {
	background-color:#ffffff;
	float:left;
	width:146px;
}

div.judge div.nav div.navRight div.navLink {
	color:#1F80B6;
	cursor:pointer;
	float:left;
	font-size: 1.05em;
	width:146px;
}

div.judge div.nav div.navRight div.navLink div.padding {
	margin:0px 0px 0px 3px;
}

div.judge div.nav div.navRight div.navLink:hover {
	text-decoration:underline;
}

div.judge div.nav div.navRight div.navLinkFirst {
	background-image: url('../images/navRightFirstRow.png');
	background-repeat:no-repeat;
	border-bottom: 1px dashed black;
	height:29px;
	line-height:29px;
}

div.judge div.nav div.navRight div.navLinkMiddle {
	background-image: url('../images/navRightMiddleRow.png');
	background-repeat:no-repeat;
	border-bottom: 1px dashed black;
	height:29px;
	line-height:29px;
}

div.judge div.nav div.navRight div.navLinkLast {
	background-image: url('../images/navRightLastRow.png');
	background-repeat:no-repeat;
	height:30px;
	line-height:30px;
}



/************************/
/*  Button CSS          */
/************************/

div.judge div.button {
	cursor:pointer;
	float:left;
}

div.judge div.button div.buttonLeft {
	background-image: url('../images/buttonLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:8px;
}

div.judge div.button div.buttonMiddle {
	background-image: url('../images/buttonFill.png');
	background-repeat:repeat-x;
	color:#ffffff;
	float:left;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	height:22px;
	line-height:22px;
}

div.judge div.button div.buttonRight {
	background-image: url('../images/buttonRight.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:8px;
}

div.judge div.buttonHover div.buttonLeft {
	background-image: url('../images/buttonLeftHover.png');
}

div.judge div.buttonHover div.buttonMiddle {
	background-image: url('../images/buttonFillHover.png');
}

div.judge div.buttonHover div.buttonRight {
	background-image: url('../images/buttonRightHover.png');
}





/************************/
/*  Summary CSS         */
/************************/

.summaryText {
	font-size:1.05em;
}

div.summary {
	margin:10px 0px 15px 6px;
	width:720px;
}

div.summary div.tabContent {
	/* border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;*/ /* for some reasone IE (lame) needs the top, so do a full border below */
	
	border:1px solid #cccccc;
	margin-bottom:20px;
}

div.summary div.tabTitleLeft {
	background-image: url('../images/podTitleLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:2px;
}

div.summary div.tabTitleCenter {
	background-image: url('../images/podTitleCenter.png');
	background-repeat:repeat-x;
	color:#2A6262;
	float:left;
	font-size:1.2em;
	font-weight:bold;
	height:22px;
	line-height:22px;
	width:716px;
}

div.summary div.tabTitleCenter div.padding {
	margin-left:10px;
}

div.summary div.tabTitleRight {
	background-image: url('../images/podTitleRight.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:2px;
}

div.summary table.summary {
	color: #323232;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

div.summary table.summary tr.head {
	
}

div.summary table.summary tr.head td {
	padding:3px;
}

div.summary table.summary tr.row, div.summary table.summary tr.rowEmpty {
	font-size:1.05em;
}

div.summary table.summary tr.row td {
	font-weight:bold;
	padding:3px;
}

div.summary table.summary tr.rowEmpty td {
	padding:3px;
}

div.summary div.summaryButtons {
	margin-top:25px;
}

div.summary div.summaryButtons div.rule {
	background-color:#cccccc;
	font-size:0px;
	height:1px;
	line-height:0px;
	padding:0px;
	margin:0px 0px 0px 9px;
	width:707px;
}

div.summary div.summaryButtons div.editButton {
	float:left;
	margin:15px 0px 15px 650px;
}

div.summary div.submitApplication {
	margin: 0px 30px 0px 30px;
}

div.summary div.submitApplicationButtons div.rule {
	background-color:#cccccc;
	font-size:0px;
	height:1px;
	line-height:0px;
	padding:0px;
	margin:0px 0px 0px 9px;
	width:722px;
}

div.summary div.submitApplicationButtons {
	margin-top:40px;
}

div.summary div.submitApplicationButtons div.submitButton {
	float:left;
	margin:40px 0px 20px 455px;
}

div.summary div.submitApplicationButtons div.exitButton {
	float:left;
	margin:40px 0px 20px 15px;
}




/************************/
/*  Score Card CSS      */
/************************/

table.scoreCard {
	background-color:#f6f6f6;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	margin-bottom:20px;
}

table.scoreCard tr.headRow {
	background-image: url('/views/judging/images/podTitleCenter.png');
	background-repeat:repeat-x;
	font-size:1.0em;
	font-weight:bold;
	height:22px;
	line-height:22px;
}

table.scoreCard tr.headRow td {
	padding-left:8px;
}

table.scoreCard tr.titleRow {
	
}

table.scoreCard tr.titleRow td {
	font-size:0.95em;
	padding:1px;
	text-align:center;
}

table.scoreCard tr.values {
	
}

table.scoreCard tr.values td {
	padding:5px;
	text-align:center;
}

table.scoreCard tr.results {
	
}

table.scoreCard tr.results td {
	border-top:1px solid #cccccc;
	padding:10px;
}



/************************/
/*  General CSS         */
/************************/

div.questionRow {
	margin-bottom:10px;
}

div.question {
	color:#323232;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:1.1em;
}

div.questionSmall {
	color:#323232;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
}

div.questionSpacer {
	margin-bottom:12px;
}

div.questionSpacerSmall {
	margin-bottom:4px;
}

div.floatLeft {
	float:left;
}

div.bolded {
	font-weight:bold;
}

span.required {
	color:#cc0000;
}

div.paddingLeft {
	margin-left:9px;
}


div.clear {
	border:0px solid #ff0000;
	clear:both;
	font-size:0px;
	height:0px;
	line-height:0px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:99%;
}

div.judge div.rule {
	background-color:#cccccc;
	font-size:0px;
	height:1px;
	line-height:0px;
	padding:0px;
	margin:0px 0px 0px 9px;
	width:722px;
}

tr.even td {
	background-color:#ddd;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
}

div.plusMinus {
	cursor:pointer;
	float:left;
	margin-top:5px; 
	width:25px;
}


