
/************************/
/*  Application CSS     */
/************************/

div.judge {
	margin:0px 0px 0px 10px;
	padding:10px 0px 0px 0px;
}

div.judge h2.title {
	margin-left:5px;
	text-transform:none !important;
}

div.judge div.titleSub {
	font-size:1.3em;
	font-style:italic;
	font-weight:bold;
	margin-left:5px;
}

div.judge div.formWrap {
	float:left;
	margin:10px 0px 10px 0px;
	
}

div.judge div.formWrap div.formWrapTopLeft {
	background-image: url('../images/formWrapTopLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:24px;
	width:9px;
}

div.judge div.formWrap div.formWrapTop {
	border-top:1px solid #cccccc;
	color:#ffffff;
	float:left;
	font-family:arial,helvetica,sans-serif !important;
	font-weight:bold;
	font-size:1.3em;
	text-transform:uppercase;
	height:23px;
	line-height:23px;
	position:relative;
	width:930px;
}

div.judge div.formWrap div.formWrapTop img {
	height:23px; 
	left:0px;
	position:absolute;
	top:0px;
	width:930px;
	z-index:1;
}

div.judge div.formWrap div.formWrapTop div.formWrapTopText {
	left:0px;
	position:absolute;
	top:0px;
	z-index:2;
}

div.judge div.formWrap div.formWrapTopRight {
	background-image: url('../images/formWrapTopRight.png');
	background-repeat:no-repeat;
	float:left;
	height:24px;
	width:9px;
}

div.judge div.formWrap div.formWrapMiddle {
	border-left:1px solid #cccccc; 
	border-right:1px solid #cccccc;
}



div.judge div.formWrap div.formWrapBottomLeft {
	background-image: url('../images/formWrapBottomLeft.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:9px;
	line-height:0px;
	width:9px;
}

div.judge div.formWrap div.formWrapBottom {
	border-bottom:1px solid #cccccc;
	float:left;
	font-size:0px;
	height:9px;
	line-height:0px;
	width:930px;
}

div.judge div.formWrap div.formWrapBottomRight {
	background-image: url('../images/formWrapBottomRight.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:9px;
	line-height:0px;
	width:9px;
}

div.judge div.nav {
	float:left;
	width:190px;
}

div.judge div.tabbedForm {
	float:left;
	margin-bottom:20px;
	width:745px;
}

div.judge div.tabbedForm div.formContentWrap {
	border:1px solid #cccccc; 
	width:100%;
}

div.judge div.tabbedForm div.formContentWrap div.minHeight {
	float:left; 
	height:400px; 
	width:1px;
}

div.judge div.tabbedForm div.formContentWrap .noscript {
	color:#cc0000;
	font-weight:bold;
	margin:10px;
}

div.judge div.tabbedForm div.formContentWrap div.formContent {
	float:left;
	position:relative;
	width:743px;
}

div.judge div.tabbedForm div.formContentWrap div.formContentLoader {
	float:left;
	height:400px;
	text-align:center;
	width:744px;
}

div.judge div.tabbedForm div.formContentWrap div.formContentLoader img {
	padding-top:180px;
}



/************************/
/*  Nav CSS             */
/************************/

div.judge div.nav div.navLeft {
	float:left;
	margin-left:10px;
	width: 22px;
}

div.judge div.nav div.navLeft div.navTopLeft {
	background-image: url('../images/navTopLeft.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:8px;	
	line-height:0px;
	position:relative;
	width:22px;
}

div.judge div.nav div.navLeft div.navTopLeft div.arrows {
	height:180px;  /* will probably be removed */
	left:0px;
	position:absolute;
	top:0px;
	width:22px;
}

div.judge div.nav div.navLeft div.navTopLeft div.arrows div.arrow {
	float:left;
	height:30px;
	width:22px;
}

div.judge div.nav div.navLeft div.navTopLeft div.arrows div.arrow img {
	height:9px;
	margin:11px 0px 0px 9px;
	width:5px;
}

div.judge div.nav div.navLeft div.navMiddleLeft {
	background-repeat:repeat-x;
	float:left;
	font-size:0px;
	line-height:0px;
	width:22px;
}

div.judge div.nav div.navLeft div.navMiddleLeft3 {
	background-image: url('../images/navMiddleLeft74.png');
	height:74px;
}

div.judge div.nav div.navLeft div.navMiddleLeft4 {
	background-image: url('../images/navMiddleLeft104.png');
	height:104px;
}

div.judge div.nav div.navLeft div.navMiddleLeft5 {
	background-image: url('../images/navMiddleLeft134.png');
	height:134px;
}

div.judge div.nav div.navLeft div.navMiddleLeft6 {
	background-image: url('../images/navMiddleLeft164.png');
	height:164px;
}

div.judge div.nav div.navLeft div.navMiddleLeft7 {
	background-image: url('../images/navMiddleLeft194.png');
	height:194px;
}

div.judge div.nav div.navLeft div.navMiddleLeft8 {
	background-image: url('../images/navMiddleLeft224.png');
	height:224px;
}

div.judge div.nav div.navLeft div.navMiddleLeft9 {
	background-image: url('../images/navMiddleLeft254.png');
	height:254px;
}

div.judge div.nav div.navLeft div.navBottomLeft {
	background-image: url('../images/navBottomLeft.png');
	background-repeat:no-repeat;
	float:left;
	font-size:0px;
	height:8px;	
	line-height:0px;
	width:22px;
}

div.judge div.nav div.navRight {
	float:left;
	width:146px;
}

div.judge div.nav div.navRight div.navLink {
	color:#1F80B6;
	cursor:pointer;
	float:left;
	font-size: 1.05em;
	width:146px;
}

div.judge div.nav div.navRight div.navLink div.padding {
	margin:0px 0px 0px 3px;
}

div.judge div.nav div.navRight div.navLink:hover {
	text-decoration:underline;
}

div.judge div.nav div.navRight div.navLinkFirst {
	background-image: url('../images/navRightFirstRow.png');
	background-repeat:no-repeat;
	border-bottom: 1px dashed black;
	height:29px;
	line-height:29px;
}

div.judge div.nav div.navRight div.navLinkMiddle {
	background-image: url('../images/navRightMiddleRow.png');
	background-repeat:no-repeat;
	border-bottom: 1px dashed black;
	height:29px;
	line-height:29px;
}

div.judge div.nav div.navRight div.navLinkLast {
	background-image: url('../images/navRightLastRow.png');
	background-repeat:no-repeat;
	height:30px;
	line-height:30px;
}



/************************/
/*  Pod CSS             */
/************************/

div.judge div.pod {
	margin:10px 0px 15px 6px;
	width:730px;
}

div.judge div.pod div.podTitleLeft {
	background-image: url('../images/podTitleLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:29px;
	width:2px;
}

div.judge div.pod div.podTitleCenter {
	background-image: url('../images/podTitleCenter.png');
	background-repeat:repeat-x;
	color:#2A6262;
	float:left;
	font-size:1.2em;
	font-weight:bold;
	height:29px;
	line-height:29px;
	width:726px;
}

div.judge div.pod div.podTitleCenter div.padding {
	margin-left:10px;
}

div.judge div.pod div.podTitleRight {
	background-image: url('../images/podTitleRight.png');
	background-repeat:no-repeat;
	float:left;
	height:29px;
	width:2px;
}

div.judge div.pod div.podForm {
	/* background-color:#f5f5f5; */
	margin:8px 10px 0px 10px;
}



/************************/
/*  Form Elements CSS   */
/************************/

div.judge div.podForm  div.questionRow {
	margin-bottom:10px;
}

div.judge div.podForm div.question {
	color:#323232;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:1.1em;
}

div.judge div.podForm div.questionSmall {
	color:#323232;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
}

div.judge div.podForm div.questionSpacer {
	margin-bottom:12px;
}

div.judge div.podForm div.questionSpacerSmall {
	margin-bottom:4px;
}

div.judge div.podForm div.floatLeft {
	float:left;
}

div.judge div.podForm div.bolded {
	font-weight:bold;
}

div.judge div.podForm span.required {
	color:#cc0000;
}

div.judge div.podForm div.paddingLeft {
	margin-left:9px;
}

div.judge div.podForm input.small {
	border:1px solid #bbbbbb;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:2px;
	width: 68px;
}

div.judge div.podForm input.large {
	border:1px solid #bbbbbb;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:2px;
	width:105px;
}

div.judge div.podForm select {
	border:1px solid #bbbbbb;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	/* padding:2px; */
	width:85px;
}


div.judge div.podForm textarea {
	border:1px solid #bbbbbb;
	height:60px;
	width:550px;
}

div.judge div.podForm div.calendar {
	background-image: url('../images/calendar.gif');
	background-repeat:no-repeat;
	border:0px;
	cursor:pointer;
	font-size:0px;
	height:16px;
	line-height:0px;
	margin:2px 0px 0px 3px;
	position:relative;
	width:16px;
	z-index:0;
}

div.judge div.jQueryCalendar {
	z-index:30;
}



/************************/
/*  Button CSS          */
/************************/

div.judge div.button {
	cursor:pointer;
	float:left;
}

div.judge div.button div.left {
	background-image: url('../images/buttonLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:8px;
}

div.judge div.button div.middle {
	background-image: url('../images/buttonFill.png');
	background-repeat:repeat-x;
	color:#ffffff;
	float:left;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	height:22px;
	line-height:22px;
}

div.judge div.button div.right {
	background-image: url('../images/buttonRight.png');
	background-repeat:no-repeat;
	float:left;
	height:22px;
	width:8px;
}

div.judge div.buttonHover div.left {
	background-image: url('../images/buttonLeftHover.png');
}

div.judge div.buttonHover div.middle {
	background-image: url('../images/buttonFillHover.png');
}

div.judge div.buttonHover div.right {
	background-image: url('../images/buttonRightHover.png');
}

div.judge div.formContent div.tabButtons {
	margin-top:25px;
}

div.judge div.formContent div.tabButtons div.rule {
	background-color:#cccccc;
	font-size:0px;
	height:1px;
	line-height:0px;
	padding:0px;
	margin:0px 0px 0px 9px;
	width:722px;
}

div.judge div.formContent div.tabButtons div.saveButton {
	float:left;
	margin:40px 0px 20px 480px;
}

div.judge div.formContent div.tabButtons div.exitButton {
	float:left;
	margin:40px 0px 20px 15px;
}



/************************/
/*  Summary CSS         */
/************************/

.summaryText {
	font-size:1.05em;
}

div.summary {
	margin:10px 0px 15px 6px;
	width:730px;
}

div.summary div.tabContent {
	/* border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;*/ /* for some reasone IE (lame) needs the top, so do a full border below */
	
	border:1px solid #cccccc;
	margin-bottom:20px;
}

div.summary div.tabTitleLeft {
	background-image: url('../images/podTitleLeft.png');
	background-repeat:no-repeat;
	float:left;
	height:29px;
	width:2px;
}

div.summary div.tabTitleCenter {
	background-image: url('../images/podTitleCenter.png');
	background-repeat:repeat-x;
	color:#2A6262;
	float:left;
	font-size:1.2em;
	font-weight:bold;
	height:29px;
	line-height:29px;
	width:726px;
}

div.summary div.tabTitleCenter div.padding {
	margin-left:10px;
}

div.summary div.tabTitleRight {
	background-image: url('../images/podTitleRight.png');
	background-repeat:no-repeat;
	float:left;
	height:29px;
	width:2px;
}

div.summary table.summary {
	color: #323232;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

div.summary table.summary tr.head {
	
}

div.summary table.summary tr.head td {
	padding:3px;
}

div.summary table.summary tr.row, div.summary table.summary tr.rowEmpty {
	font-size:1.05em;
}

div.summary table.summary tr.row td {
	font-weight:bold;
	padding:3px;
}

div.summary table.summary tr.rowEmpty td {
	padding:3px;
}

div.summary div.summaryButtons {
	margin-top:25px;
}

div.summary div.summaryButtons div.rule {
	background-color:#cccccc;
	font-size:0px;
	height:1px;
	line-height:0px;
	padding:0px;
	margin:0px 0px 0px 9px;
	width:707px;
}

div.summary div.summaryButtons div.editButton {
	float:left;
	margin:15px 0px 15px 650px;
}

div.summary div.submitApplication {
	margin: 0px 30px 0px 30px;
}

div.summary div.submitApplicationButtons div.rule {
	background-color:#cccccc;
	font-size:0px;
	height:1px;
	line-height:0px;
	padding:0px;
	margin:0px 0px 0px 9px;
	width:722px;
}

div.summary div.submitApplicationButtons {
	margin-top:40px;
}

div.summary div.submitApplicationButtons div.submitButton {
	float:left;
	margin:40px 0px 20px 455px;
}

div.summary div.submitApplicationButtons div.exitButton {
	float:left;
	margin:40px 0px 20px 15px;
}



/************************/
/*  General CSS         */
/************************/

div.judge div.clear, div.recommendation div.clear {
	border:0px solid #ff0000;
	clear:both;
	font-size:0px;
	height:0px;
	line-height:0px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:99%;
}
