<cfsilent>
	<!--- New header --->
	<cfif not StructKeyExists(cookie,"lstSubProducts")>
        <cfcookie name="lstSubProducts" value="" domain=".redactededucation.com">
    </cfif>
    <cfset structHeader = StructNew()>
    <cfset structHeader.strEnvironment = request.strenvironmenttype>
    <cfset structHeader.strOmnitureId = 11>
    <cfset structHeader.lstSubProducts = cookie.lstSubProducts>
    <cfset structHeader.blnShowSearch = 'false'>
	<cfset request.stcHeader = CreateObject("component","commonCFC.www-header").getHeader(structHeader) />
</cfsilent>
<cfoutput>
#request.stcHeader.headerHead#
<cfif FindNoCase('redactededucation',CGI.HTTP_HOST) eq 0>
<style type="text/css">
##de-header, ##footer-default, ##bCrumbs {display: none;}
</style>
</cfif>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12418696-1']);
_gaq.push(['_setDomainName', 'redactededucation.com']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();

</script>
<script type="text/javascript">
if (typeof jQuery != 'undefined') {
jQuery(document).ready(function($) {
var filetypes = /\.(zip|exe|pdf|doc*|xls*|ppt*|mp3|mp4|flv|f4v|mov|wmv|avi)$/i;
var baseHref = '';
if (jQuery('base').attr('href') != undefined)
baseHref = jQuery('base').attr('href');
jQuery('a').each(function() {
var href = jQuery(this).attr('href');
if (href && (href.match(/^https?\:/i)) && (!href.match(document.domain))) {
jQuery(this).click(function() {
var extLink = href.replace(/^https?\:\/\//i, '');
_gaq.push(['_trackEvent', 'External', 'Click', extLink]);
if (jQuery(this).attr('target') != undefined && jQuery(this).attr('target').toLowerCase() != '_blank') {
setTimeout(function() { location.href = href; }, 200);
return false;
}
});
}
else if (href && href.match(/^mailto\:/i)) {
jQuery(this).click(function() { var mailLink = href.replace(/^mailto\:/i, ''); _gaq.push(['_trackEvent', 'Email', 'Click', mailLink]); });
}
else if (href && href.match(filetypes)) {
jQuery(this).click(function() {
var extension = (/[.]/.exec(href)) ? /[^.]+$/.exec(href) : undefined;
var filePath = href;
_gaq.push(['_trackEvent', 'Download', 'Click-' + extension, filePath]);
if (jQuery(this).attr('target') != undefined && jQuery(this).attr('target').toLowerCase() != '_blank') {
setTimeout(function() { location.href = baseHref + href; }, 200);
return false;
}
});
}
});
});
}
</script>
</head>
<body id="body">
<div id="top-bar" align="center">
	<P><a href="/index.cfm?event=showPage&p=programOverview">Check out the 2013 Siemens Summer of Learning Fellows!</a></P>
</div>
#request.stcHeader.headerBody#
</cfoutput>