<cfif isdefined("cookie.app_user_guid") and len(cookie.app_user_guid) eq 36>
    <cfset myGuid = cookie.app_user_guid>
<cfelse>
    <cfset myGuid = "00000000-0000-0000-0000-000000000000">
</cfif>

<cfset strFooter = CreateObject("component","commonCFC.de_footer").getFooter(myGuid,"HUB",request.strEnvironmentType,12) />

<!---google analytics--->
<!--- <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12418696-1");
pageTracker._trackPageview();
} catch(err) {}</script> --->



<cfoutput>#strFooter#</cfoutput>