<!---get header--->

<cfset headerArgs = {} />
<cfset headerArgs.app_user_guid = "" />
<cfset headerArgs.strProductCode = "HUB" />
<cfset headerArgs.intSubNavPage = 2 />
<cfset headerArgs.strFirstName = "" />
<cfset headerArgs.strLastName = "" />
<cfset headerArgs.lstActiveProductCodes = "" />
<cfset headerArgs.strEnvironment = application.strEnvironmentType />
<cfset headerArgs.strGraphicsPackage = "" />
<cfset headerArgs.blnShowHelloLinks = true />
<cfset headerArgs.intPermissionBitCode = 0 />
<cfset headerArgs.pageTitle = "" />
<cfset headerArgs.headerWidth = 989 />

<cfset headerRes = CreateObject("component","commonCFC.de_header").getHeader(argumentCollection=headerA1rgs) />

<cfoutput>#headerRes#</cfoutput>