<cfif promo is "webinars">
	<div id="promo-webinars" class="promo"><a href="/index.cfm?event=showContent&c=30" id="btn-learn-small" class="sprite"></a></div>
<cfelseif promo is "stars">
	<div id="promo-stars" class="promo"><a href="/index.cfm?event=showContent&c=38" id="btn-learn-small" class="sprite"></a></div>
<cfelseif promo is "resources">  
	<div id="promo-resources" class="promo"><a href="/index.cfm?event=showContent&c=37" id="btn-learn-small" class="sprite"></a></div>
<cfelseif promo is "blog">
	<div id="promo-blog" class="promo"><a href="/index.cfm?event=showContent&c=35">Network with fellow STEM educators to share ideas</a></div>
</cfif>