<div>
	<div id="lb-top"><a href="##" id="lb-logout" onclick="clearWin();"></a></div>
	<div id="lb-middle">
	
	<div id="hyperlinks-howto" style="margin-left:5px;">
		<div style="height:400px; overflow: auto;">
	<iframe style="height: 705px; width: 250px; border: 1px solid #5ea7de;" src="http://www.stemconnector.org/sdwidget?ajax=1" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"></iframe> 
		</div>
	</div>		
			
			
			
	</div>
	
	<div id="lb-bottom"></div>
</div>