


<style type="text/css">
	div.button {
		cursor:pointer;
		float:left;
	}
	
	div.button div.buttonLeft {
		background-image: url('../images/buttonLeft.png');
		background-repeat:no-repeat;
		float:left;
		height:22px;
		width:8px;
	}
	
	div.button div.buttonMiddle {
		background-image: url('../images/buttonFill.png');
		background-repeat:repeat-x;
		color:#ffffff;
		float:left;
		font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		height:22px;
		line-height:22px;
	}
	
	div.button div.buttonRight {
		background-image: url('../images/buttonRight.png');
		background-repeat:no-repeat;
		float:left;
		height:22px;
		width:8px;
	}
	
	div.buttonHover div.buttonLeft {
		background-image: url('../images/buttonLeftHover.png');
	}
	
	div.buttonHover div.buttonMiddle {
		background-image: url('../images/buttonFillHover.png');
	}
	
	div.buttonHover div.buttonRight {
		background-image: url('../images/buttonRightHover.png');
	}
	
	div.clear {
		border:0px solid #ff0000;
		clear:both;
		font-size:0px;
		height:0px;
		line-height:0px;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
		width:99%;
	}
</style>


<script type="text/javascript">
	function SubmitComment ()
	{
		/*
		if (confirm("Are you sure you want to proceed?\n\nClick OK to continue.\nClick Cancel to cancel.")) {
			window.parent.SubmitAppIssue(document.getElementById("pendingComment").value);
		}
		*/
		
		document.getElementById("pendingForm").style.display = "none";
		document.getElementById("working").style.display = "";
		window.setTimeout("SendComment()", 500);
	}
	
	
	function SendComment ()
	{
		window.parent.SubmitAppIssue(document.getElementById("pendingComment").value);
	}
	
	
	function Void()
	{
		
	}
</script>



<div id="working" style="display:none;">
	<img src="/views/judging/images/formProcessing2.gif" style="margin:90px 0px 0px 190px;" />
</div>

<div id="pendingForm">
	<div style="margin-bottom:10px;">
		<div style="float:left; margin-top:10px; width:40px;">
			<img src="/views/judging/images/attn_24.png" style="width:28px;" />
		</div>
		<div style="float:left; font-size:0.90em; width:328px;">
			Please provide a reason why you cannot judge this application in the space below. 
			The College Board will then review and decide what happens to the application:
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	
	<div style="margin-bottom:10px;">
		<textarea name="pendingComment" id="pendingComment" style="width:360px; height:70px;"></textarea>
	</div>
	
	<div style="text-align:center;">
		<div style="float:left; margin-right:30px; text-align:right; width:160px;">
			<a href="javascript:return false;" onclick="window.parent.CloseLightBox();">Cancel</a>
		</div>
		
		<div class="button" onmouseover="this.className='button buttonHover';" onmouseout="this.className='button';" onclick="SubmitComment();">
			<div class="buttonLeft">
				&nbsp;
			</div>
			<div class="buttonMiddle">
				Submit
			</div>
			<div class="buttonRight">
				&nbsp;
			</div>
			<div class="clear">&nbsp;</div>
		</div>
		
		<div class="clear">&nbsp;</div>
	</div>
</div>


