<cfsilent>
	<cfset success = event.getArg("success") />
	<cfset average = event.getArg("average") />
	<cfset average = average * 10 />
	<cfset average = Round(average) />
	<cfset average = average / 10 />
	<cfset total = event.getArg("total") />
</cfsilent>
<cfoutput>#average# average from #total# ratings.</cfoutput>